<h1>{{title}}</h1>
<p class="welcome">Welcome to {{title}}</p>
<img src="https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/upload_926e75d45f2a997152f4401844b3b4d5.jpg" class="index-img" alt="drone" >
<a href="/drones" class="btn btn-primary btn-lg">GO TO DRONES LIST</a>
<a href="/drones/create" class="btn btn-secondary btn-lg">CREATE YOUR OWN DRONE</a>
