<h2 class="subtitle">Create a new drone</h2>
<div class="form-group">

    <form action="/drones/create" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" class="form-control">
        <br>
        <label for="propeller">Propellers number:</label>
        <input type="number" name="propellers" class="form-control">
        <br>
        <label for="maxSpeed">Maximum Speed:</label>
        <input type="number" name="maxSpeed" class="form-control">
        <br>
        <div class="flex-row">

        <button type="submit" class="btn btn-primary">Create Drone</button>
        <a href="/" class="back-btn btn btn-light">Back</a>
        </div>
    </form>
</div>