<h2 class="subtitle">Update the drone</h2>
<div class="form-group">

    <form action="/drones/{{_id}}/edit" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{name}}" class="form-control">
        <br>
        <label for="propeller">Propellers number:</label>
        <input type="number" name="propellers" value="{{propellers}}" class="form-control">
        <br>
        <label for="maxSpeed">Maximum Speed:</label>
        <input type="number" name="maxSpeed" value="{{maxSpeed}}" class="form-control">
        <br>

        <div class="flex-row">

            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="/" class="back-btn btn btn-light">Back</a>
        </div>
    </form>
</div>